//
// Body
// ========================================================

#templateBody {
  background-color: $white;
}

tr, td, p, span, div {
  font-family: $font-family-base;
  font-weight: 400;
  line-height: 18px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  line-height: 1.4;
}

.bodyContent {
  padding-top: $body-padding;
  padding-right: $body-padding;
  padding-bottom: $body-padding;
  padding-left: $body-padding;

  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-align: left;

  a:link,
  a:visited,
  a .yshortcuts {
    color: $link-color;
    font-weight: normal;
    text-decoration: underline;
  }

  img {
    display: inline;
    height: auto;
    max-width: $email-width;
  }
}

// Responsive
// --------------------------------------------------------

@media only screen and (max-width: $screen-sm) {
  .bodyContent {
    line-height: 125% !important;

    img {
      height: auto !important;
      max-width: $screen-sm !important;
      width: 100% !important;
    }
  }
}
