//
// Variables
// ========================================================

// Colors
// --------------------------------------------------------

$black: #000;
$gray-darker: lighten(#000, 13.5%);
// #222
$gray-dark: lighten(#000, 20%);
// #333
$gray: lighten(#000, 33.5%);
// #555
$gray-light: lighten(#000, 60%);
// #999
$gray-lighter: lighten(#000, 93.5%);
// #eee
$white: #fff;

$brand-primary: #428bca;

// Scaffolding
// --------------------------------------------------------

// Background colour for the entire canvas of the email
$body-bg: $gray-lighter;

// Background of the main body of the email
$content-bg: #fff;

// Global text colour
$text-color: $gray-dark;

// Global text link color
$link-color: $brand-primary;

// Global text link hover color
$link-color-hover: darken($link-color, 15%);

// Width of the email
$email-width: 800px;

// Padding for the main body content table cell
$body-padding: 0;

// Responsive break point
$screen-sm: 480px;

// Typography
// --------------------------------------------------------

$font-family-sans-serif: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'Quicksand', "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

$font-size-smaller: 10px;
$font-size-base: 14px;
$font-size-larger: 20px;

$line-height-base: 150%;

// Headings
// ------------------------------------

$headings-font-family: $font-family-base;
$headings-font-weight: 500;
$headings-line-height: 1;
$headings-color: $gray;
